@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import './mixin.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', cursive;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa One', cursive;
}

input:focus,
button:focus {
    outline: none;
}

input,
button {
    height: 45px;
    padding: 0 2rem;
    border-radius: 30px;
    border: none;
}
